@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html {
    /* a cada 1rem será considera 10px */
    font-size: 62.5%;
  }
  
html,
body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    
}
  
body {
    font-size: 1.6rem;
}

header {
    background-color: #fff;
    border-bottom: 5px solid whitesmoke;
    padding: 0;
    margin: 0;
    height: 11vh;
  }
  
header .container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;   
    margin: auto;
}

header img {
    width: 45px;
    margin-left: 10px;
}
header a{
    color: white;
    text-decoration: none;
}

header nav ul {
    display: flex;
    padding: 0;
    margin: 0;
}
  
header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.8rem; 
    padding: 1.0rem;
    display: inline-block;
    transition: all .5s; 
}

header nav ul li a::after {
    content: '';
    display: block;
    height: 4px;
    width: 0;
    margin-top: 5px;
    background: #000000;
    transition: all .5s;
}

header nav ul li a:hover::after {
    width: 100%;
}

/* MAIN */
main {
    background-color: #000000;
    height: 88%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main h1 {
    font-size: 7.5rem;
    color: #ffffff;
    text-transform: uppercase;
}

main h2 {
    font-size: 7.5rem;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8px;
}
main p {
    font-size: 1.2rem;
    font-weight: 400;
    color: #333;
  }

main input{
    background-color: #000;
    height: 35px;
    width: 220px;    
    padding-bottom: 1.5rem;
    border-radius: 50px;
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    padding-top: 10px;
    margin-top: 10px;
}

main .text-main{
    padding: 20px 10px;
    text-align: center;
}
main .form-main{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 54px 20px;
}
button {
    width: 120px;
    height: 35px;
    background-color: #ffffff;
    color: rgb(55, 55, 55);;
    border: 1px solid rgb(0, 0, 0);
    font-weight: 700;
    border-radius: 50px;
    align-items: center;
    cursor:pointer;
    margin-top: 10px;
}

button:hover{
    background-color: #000;
    color: #fff;
}


main .dashboard h1 {
    font-size: 5.5rem;
    color: #ffffff;
    text-transform: uppercase;
}

main .dashboard h2 {
    font-size: 3.5rem;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8px;
}

main .form-cadastro {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 20px 20px;
}

main .form-cadastro input{
    background-color: rgb(255, 255, 255);
    height: 35px;
    width: 350px;    
    padding-bottom: 1.5rem;
    border-radius: 50px;
    text-align: center;
    color: rgb(55, 55, 55);
    font-size: 1.5rem;
    padding-top: 10px;
    margin-top: 10px;
}

main .form-cadastro h2{
    font-size: 2.5rem;
    color: #ffffff;
    text-transform: uppercase;
}

main .list-cadastro {
    margin-left: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px 20px;
}

main .list-cadastro h2{
    font-size: 2.5rem;
    color: #ffffff;
    text-transform: uppercase;
}

main .list-cadastro table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    color: white;
  }
  main .list-cadastro th {
    background-color: black;
    color: white;
  } 

 .list-cadastro a {
     color: black;
 } 

footer{
    height: 5vh;
    width:100%;
    background: #000000;
    margin:0; 
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p{
    padding-top: 0.4%;
    font-size: 1.5rem; 
    color: white;
}

footer a{
    font-size: 1.5rem; 
    text-decoration: none;
    color: white;
    display: inline-block;
    font-weight: bold;
}